.standard-field {
    border: 1px solid var(--standard-field-border-color, #797979);
    border-radius: var(--standard-field-border-radius, 5px);
    font-size: var(--standard-field-size, 18px);
    font-family: var(--standard-body-font, sans-serif);
    box-sizing: border-box;
}

.standard-field-padding {
    padding: var(--standard-field-vertical-padding, 10px) var(--standard-field-horizontal-padding, 10px);
}

.standard-field-padding-left-side {
    padding-left: var(--standard-field-horizontal-padding, 10px);
    padding-top: var(--standard-field-vertical-padding, 10px);
    padding-bottom: var(--standard-field-vertical-padding, 10px);
}

.standard-field-padding-right-side {
    padding-right: var(--standard-field-horizontal-padding, 10px);
    padding-top: var(--standard-field-vertical-padding, 10px);
    padding-bottom: var(--standard-field-vertical-padding, 10px);
}

.standard-field-padding-vertical {
    padding-top: var(--standard-field-vertical-padding, 10px);
    padding-bottom: var(--standard-field-vertical-padding, 10px);
}

.with-left-field-icon {
    padding-left: calc(2 * var(--standard-field-horizontal-padding, 10px) + var(--field-icon-size, 16px));
}

.left-field-icon-position {
    position: absolute;
    top: 50%;
    left: calc(var(--standard-field-horizontal-padding, 10px) + 0.5 * var(--field-icon-size, 16px));
    transform: translate(-50%, -50%);
}

.integrated-field {
    box-sizing: border-box;
    border: none;
    display: block;
    font-size: var(--standard-body-font, sans-serif);
}

.number-text-field {
    text-align: right;
    width: 80px;
}