.standard-icon {
    width: var(--standard-icon-size, 24px);
    height: var(--standard-icon-size, 24px);
}

.text-row-icon {
    width: var(--standard-icon-size, 24px);
    height: var(--standard-icon-size, 24px);
}

.field-icon {
    width: var(--field-icon-size, 16px);
    height: var(--field-icon-size, 16px);
}

.drag-handle-icon {
    width: 8px;
    height: 12px;
}

.big-status-icon {
    width: var(--big-status-icon-size, 64px);
    height: var(--big-status-icon-size, 64px);
}