.project
.settings
.DS_Store
_notes
_gsdata_
user.properties

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
assets/temp
node_modules
javascripts/tools/classes/com/developedbyme/projects/tools/work
assets/copyrightMaterial
experiments/**/assets/copyrightMaterial
projects/work
