.phone {
	position: relative;
	width: 190px;
	height: 400px;
	
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.phone .frame {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 100%;
	height: 100%;
	border: 1px solid #000000;
	border-radius: 20px;
}

.phone .front {
	-moz-transform: translateZ(8px);
	-ms-transform: translateZ(8px);
	-o-transform: translateZ(8px);
	-webkit-transform: translateZ(8px);
	transform: translateZ(8px);
}

.phone .front .camera {
	position: absolute;
	left: 93px;
	top: 12px;
	width: 4px;
	height: 4px;
	border: 1px solid #000000;
	border-radius: 2px;
}

.phone .front .speaker {
	position: absolute;
	left: 80px;
	top: 25px;
	width: 30px;
	height: 4px;
	border: 1px solid #000000;
	border-radius: 2px;
}

.phone .front .screen {
	position: absolute;
	left: 10px;
	top: 50px;
	width: 170px;
	height: 300px;
	border: 1px solid #000000;
}

.phone .front .button {
	position: absolute;
	left: 80px;
	bottom: 10px;
	width: 30px;
	height: 30px;
	border: 1px solid #000000;
	border-radius: 15px;
}

.phone .back {
	-moz-transform: translateZ(-8px);
	-ms-transform: translateZ(-8px);
	-o-transform: translateZ(-8px);
	-webkit-transform: translateZ(-8px);
	transform: translateZ(-8px);
}

.phone .back .camera {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 16px;
	height: 16px;
	border: 1px solid #000000;
	border-radius: 8px;
}

.phone .back .flash {
	position: absolute;
	right: 40px;
	top: 14px;
	width: 4px;
	height: 4px;
	border: 1px solid #000000;
	border-radius: 2px;
}