.dbmErrorReportCounter {
	position: absolute;
	width: 150px;
	height: 16px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-shadow: #000000 1px 1px 0px;
	
	padding: 5px;
	overflow: hidden;
}

.dbmErrorReportCounter .dbmIconCounter {
	float: left;
	width: 50px;
	height: 16px;
}

.dbmErrorReportCounter .dbmTypeIcon {
	float: left;
	width: 16px;
	height: 16px;
}

.dbmErrorReportCounter .dbmTypeIcon.dbmError {
	content: url(../../../images/icons/gentleface/white/round_delete_icon&16.png);
}

.dbmErrorReportCounter .dbmTypeIcon.dbmWarning {
	
	content: url(../../../images/icons/gentleface/white/attention_icon&16.png);
}

.dbmErrorReportCounter .dbmTypeIcon.dbmLog {
	content: url(../../../images/icons/gentleface/white/info_icon&16.png);
}

.dbmErrorReportCounter .dbmCounter {
	float: right;
	margin-right: 6px;
	margin-top: 2px;
	height: 14px;
}
