.classPath {
	font-size: 10px;
}

.classInheritance {
	font-size: 10px;
}

.linkList {
	line-height: 1.4em;
	font-size: 10px;
}

.descriptionHolder {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.function, .variable {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.functionName, .variableName {
	font-weight: bold;
}

.unknownType {
	color: #FF6666;
}

.argumentsDescription, .returnValueDescription {
	line-height: 1.4em;
	font-size: 10px;
}

.foldableCode.folded .foldable {
	display: none;
}

.foldButton {
	display: inline-block;
	color: #0000CC;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 6pt;
}

.code {
	white-space: pre;
	font-family: monospace;
	font-size: 8pt;
	overflow: auto;
}

.codeBox {
	border: 1px solid #666666;
	background-color: #F8F8F8;
	padding: 3px;
}

.noData {
	color: #999999;
}