.dbmButton {
	border: 1px solid #AAAAAA;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 1px;
	display: inline-block;
}

.dbmIconButton {
	width: 20px;
	height: 18px;
}

.dbmButton .dbmButtonContent {
	background-color: #AAAAAA;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	height: 18px;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 18px;
	cursor: pointer;
	overflow: hidden;
}

.dbmButton .dbmButtonContent .dbmIcon {
	width: 16px;
	height: 16px;
	margin-left: 4px;
	margin-top: 2px;
}

.dbmButton .dbmButtonContent .dbmText {
	margin-left: 4px;
	margin-top: 2px;
}

.dbmGrayButton .dbmButtonContent {
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 20, from(#AAAAAA), to(#000000)) #AAAAAA;
	background: -moz-radial-gradient(50% 50%, circle, #AAAAAA 0px, #000000 200%);
	background: -webkit-radial-gradient(50% 50%, circle, #AAAAAA 0px, #000000 20px);
}

.dbmGrayButton .dbmButtonContent:hover {
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 20, from(#AAAAAA), to(#666666)) #AAAAAA;
	background: -moz-radial-gradient(50% 50%, circle, #AAAAAA 0px, #666666 200%);
	background: -webkit-radial-gradient(50% 50%, circle, #AAAAAA 0px, #666666 20px);
}

