.colorTheme.dbmStandard {
	font-family: AniversRegular, Arial;
	color: #666666;
}

.colorTheme.dbmStandard .standardBorder {
	border: 1px solid #000000;
}

.colorTheme.dbmStandard .standardBackground {
	
	background: #888888;
	background: rgba(0, 0, 0, 0.5);
	
	background: -o-linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 12%, rgba(0, 0, 0, 0.5) 88%, rgba(64, 64, 64, 0.5) 100%);
	background: -moz-linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 12%, rgba(0, 0, 0, 0.5) 88%, rgba(64, 64, 64, 0.5) 100%);
	background: -webkit-linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 12%, rgba(0, 0, 0, 0.5) 88%, rgba(64, 64, 64, 0.5) 100%);
	background: -ms-linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 12%, rgba(0, 0, 0, 0.5) 88%, rgba(64, 64, 64, 0.5) 100%);
	background: linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 12%, rgba(0, 0, 0, 0.5) 88%, rgba(64, 64, 64, 0.5) 100%);
	
}

.colorTheme.dbmStandard .smallBackground {
	
	background: #888888;
	background: rgba(0, 0, 0, 0.5);
	
	background: -o-linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.5) 65%, rgba(64, 64, 64, 0.5) 100%);
	background: -moz-linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.5) 65%, rgba(64, 64, 64, 0.5) 100%);
	background: -webkit-linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.5) 65%, rgba(64, 64, 64, 0.5) 100%);
	background: -ms-linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.5) 65%, rgba(64, 64, 64, 0.5) 100%);
	background: linear-gradient(top, rgba(64, 64, 64, 0.5) 0%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.5) 65%, rgba(64, 64, 64, 0.5) 100%);
	
}
